<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/contact.css}" href="../static/css/contact.css"/>
</head>

<body>
<div class="ContactInfoBox">
    <h2>Kontaktinformation</h2>
    <p><b>Kundservice:</b></p>
    <p>Lisa Duente / Killian Walsh</p><br>
    <p><b>Mejl:</b></p>
    <p>Libsys@info.se</p><br>
    <p><b>Mobil:</b></p>
    <p>0123 45678</p><br>
    <p><b>Address:</b></p>
    <address>Stockholmsgatan 1</address>
    <address>12345 Stockholm</address>
</div>

<div class="OpeningHours">
    <h2>Öppettider:</h2>
    <p><b>Bibliotek:</b></p>
    <ul>
        <li>Mo - Fri: 10:00 - 18:00</li>
        <li>Sat: 13:00 - 18:00</li>
        <li>Sun: 15:00 - 18:00</li>
    </ul>
    <p><b>Kundservice:</b></p>
    <ul>
        <li>Mo - Fri: 10:00 - 18:00</li>
    </ul>
</div>
</body>
</html>